**/.DS_Store
dependency/ext/build/examples/*
.git
documentation
docs
cypress
cypress.**.*
node_modules
bower_components
mx/dev.html
saxs/dev.html
tracking/dev.html
Gruntfile.js
package.json
package-lock.json
.claude
*.iml
test.html
test.js
test/